/* IMPOSTAZIONI GENERALI */

@font-face {
  font-family: "myfont";
  src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}
body {
  font-family: "myfont";
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
}
#container {
  font-family: "myfont";
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
h4 {
  color: white;
  z-index: 1;
  font-size: 18px;
  text-align: center;
  padding-bottom: 1.7rem;
}
h5 {
  z-index: 1;
  font-size: 16px;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 10vh;
}
a {
  text-decoration: none;
  color: #000000;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
  color: gray;
}

hr {
  background-color: #cbc4b5;
  width: 7vw;
  height: 0.1rem;
  border: none;
  z-index: 1;
  margin-bottom: 5vh;
}

span {
  color: orangered;
  font-weight: bold;
}

i {
  color: gray;
  font-size: 14px;
}

/* HEADER [CRISTIANO] */

#head-img {
  width: 100%;
}
#background-image {
  height: auto;
  position: relative;
}

header {
  background: white;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  opacity: 0.8;
  max-width: 80%;
  padding: 2rem;
  left: 10%;
  right: 10%;
  top: 65vh;
}

#background-image::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 99.5%;
  background: url(../images/overlay-pattern.png) #000000;
  opacity: 0.3;
}

/* NAVBAR [CRISTIANO] */

nav {
  display: flex;
  justify-content: right;
}

#this-active:before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: orangered;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin: 5px;
}

#nav {
  z-index: 999999;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  margin-top: -90px;
  max-width: 1110px;
  transition: 1s;
}
header > nav > ul > li:hover:before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: orangered;
}
#nav li {
  position: relative;
}

#nav li:before {
  animation: underline 0.4s linear;
}

/*! button-hamburger-menu [BRUNO] */
nav#desktop-menu ul li:last-child {
  display: none;
}
nav#desktop-menu ul li:last-child i {
  color: orangered;
  font-size: large;
  cursor: pointer;
}
nav#desktop-menu ul li:last-child:hover {
  border-bottom: 0;
}

/*! MOBILE-MENU [BRUNO] */
#mobile-menu {
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  top: 150px;
  height: 0;
  opacity: 0;
  transition: 0.4s;
  padding-block: 20px;
  z-index: 10;
}
#mobile-menu a:hover {
  text-decoration: none;
}

#mobile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 15px;
  width: 100%;
}
/*! SLIDER [BRUNO] */

#slider {
  margin-inline: auto;
  max-width: 1100px;
  width: 90%;
  margin-top: 5vh;
}

#slider-title {
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
}

#slider-box-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2%;
  overflow: hidden;
}

.box-image img {
  transition: ease 1.2s;
}

#slider-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-block: 20px;
  cursor: pointer;
}

#slider-arrow {
  cursor: pointer;
  z-index: 70;
}

#slider-dots div {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50px;
}

div#slider-dot-1 {
  background-color: orangered;
}

/* ABOUT [SIMONE] */
#about-us {
  padding: 70px 0px;
  background: #f6f6f6;
  font-size: 35px;
  text-align: center;
  min-height: 50vh;
  margin-top: 0;
}
.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.about-us-img {
  text-align: center;
  justify-content: center;
  margin-inline: auto;
}
.about-us-container h2 {
  color: black;
  text-align: center;
  font-size: 36px;
  padding: 40px 0px;
  font-weight: 500px;
}
.about-us-container > h2 > span {
  font-size: 45px;
  color: #ff530a;
  font-weight: 600;
}
.about-us-container p {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  padding: 40px 0px;
  color: #959595;
  width: 70%;
  margin: 0 auto;
}

#subscribe {
  padding: 20vh 0;
  background: url("../images/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 10vh;
}
#subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/overlay-pattern.png) #000000;
  opacity: 0.3;
}
.subscribe-text hr {
  margin-bottom: 1vh;
}
.subscribe-text h2 {
  position: relative;
  text-align: center;
  padding: 40px 0px;
  text-transform: uppercase;
  color: white;
  font-size: 2.5rem;
  font-weight: 500px;
  z-index: 50;
}

.subscribe-text > h2 > span {
  text-transform: lowercase;
  color: #ff530a;
  font-weight: 600px;
}
.subscribe-text p {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 25px 0;
  position: relative;
  z-index: 50;
}

#subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
#subscribe-form input {
  width: 450px;
  background: #fff;
  opacity: 0.9;
  border: none;
  height: 55px;
  font-size: 15px;
  padding: 6px 12px;
  opacity: 0.9;
}
.subscribe-button {
  font-size: 14px;
  font-weight: 400px;
}
#button-subscribe {
  width: 212px;
  height: 65px;
  border: none;
  background: #7ec3bb;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  z-index: 50;
}
#button-subscribe:hover {
  background-color: #69a8a1;
}

/* BLOG [CRISTIANO] */

#blog {
  padding: 20vh 0;
  background: url("../images/blog/blog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 75vh;
}
#blog:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.3;
}
#blog > hr {
  margin-bottom: 8vh;
}
#blog-ms {
  position: relative;
  z-index: 15;
  max-width: 1170px;
  margin: 0 auto;
}
#blog_grid {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
article {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: whitesmoke;
  position: relative;
}
.blog-txt {
  margin-bottom: 0.6rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-txt p {
  padding: 0 1.7rem;
}
.blog-txt hr {
  margin: 2rem auto 1rem auto;
  width: 30%;
}
.blog-txt {
  line-height: 1.3;
}
.blog-img {
  flex: 1;
  overflow: hidden;
}
.blog-img img {
  width: 100%;
  transition: transform 0.5s ease-in;
}
.whiteSquare {
  content: "";
  position: absolute;
  left: 1;
  bottom: 0;
  right: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background: whitesmoke;
  transform: rotate(45deg);
  margin-right: -15px;
  z-index: 10;
}
.button {
  display: flex;
  justify-content: flex-end;
}
#blog button {
  margin-right: 5%;
  width: 25.5%;
  padding: 2rem;
  cursor: pointer;
  z-index: 1;
  color: white;
  background-color: #ff5333;
  border: none;
  margin-right: 0;
  max-width: 292px;
}
#blog button:hover {
  border: 1px solid #ff5333;
  background-color: transparent;
  color: #ff5333;
}
article:hover img {
  transform: rotate(10deg) scale(125%);
}
.text_arancione {
  color: #ff5333;
  font-size: 45px;
  font-weight: 600;
}
.text_arancione-piccolo {
  color: #ff5333;
  font-weight: 600;
  font-size: 20px;
}

#info {
  color: white;
}
#featured {
  color: #000000;
}
#blog h4 {
  font-size: 2.3rem;
}

/*  MENU [GIOVANNI]  */

.container-section {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
}
#menu {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  line-height: 55px;
}

#menu h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 25px;
}
#menu > h2 > span {
  font-weight: bolder;
}
#featured-title {
  font-size: 20px;
  padding: 25px 0;
}
#featured-title h4 {
  text-align: left;
  color: #000000;
  padding-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}
#dish-list {
  margin-top: -3vh;
}
#central-paragraph {
  text-align: center;
  padding: 0px 130px 0;
}
.menu-item {
  padding: 20px 0;
}
.menu-title-description {
  position: relative;
}
#menu h3 {
  display: inline-block;
  position: relative;
  z-index: 10;
  background-color: white;
  font-weight: 500;
  font-size: 25px;
}
#menu-list-div {
  margin-top: 80px;
  margin-bottom: 30px;
}
.border-bottom {
  text-align: right;
  border-bottom: 2px dotted rgb(190, 181, 181);
  width: 100%;
  position: absolute;
  bottom: 23px;
}
.price {
  color: #938463;
  font-size: 14px;
  position: absolute;
  bottom: -15px;
  font-weight: 500;
}
#menu button {
  color: #ff4f02;
  border: 1px solid #ff4f02;
  font-size: 15px;
  font-weight: 600;
  font-family: myfont;
  padding: 30px 100px;
  cursor: pointer;
  background-color: #fff;
  float: right;
}
#menu a {
  color: #ff4f02;
}
#menu button:hover {
  border: 1px solid #ff5333;
  background-color: orangered;
  color: #fff;
}

/* [CONTACTS] GIOVANNI */
#contacts {
  padding: 70px 0;
}
#form-container {
  padding: 0 90px;
  margin: 0 80px;
}
#contacts form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
#contacts form input {
  margin-bottom: 2vh;
}

#contacts h2 {
  text-align: center;
  font-size: 40px;
  padding: 40px 0;
}
#contacts h4 {
  padding: 20px 0;
  margin-left: -10px;

  color: #000000;
  align-self: flex-start;
}
#central-form {
  padding-bottom: 20px;
  max-width: 1150px;
  margin: 0 auto;
}

#contacts .container-section .form-container form input {
  height: 40px;
  width: 100%;
  border: 1px solid darkgrey;
  padding: 5px 0 0 10px;
}
#contacts .container-section .form-container form input:focus {
  outline: 1px solid #7ec3bb;
}

#contacts .container-section .form-container form textarea {
  padding: 5px 0 0 10px;
  height: 140px;
  width: 100%;
  color: darkgrey;
  border: 1px solid darkgrey;
}
#contacts form textarea:focus {
  outline: 1px solid #7ec3bb;
}
#contacts button {
  width: 45%;
  max-height: 500px;
  height: 50px;
  border: none;
  background: #ff4f02;
  margin-top: 25px;
  font-weight: 800;
}
#contacts a {
  padding: 20px;
  color: #fff;
}
/* FOOTER [BRUNO] */

footer {
  text-align: left;
}

footer h5 {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 800;
  padding-block: 30px;
  margin-bottom: 1.8vh;
}

#footer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  padding-inline: 20px;
  min-height: 40vh;
}

#footer p {
  color: black;
  font-size: 0.9rem;
  margin-block: 7px;
  line-height: 2.5;
}

#footer_contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#footer_contact-info h5 {
  margin-bottom: 0;
}
.info-span {
  font-weight: 500;
  padding-left: 10px;
}
#footer_contact-info div span {
  margin-left: 15px;
  font-size: 1.3rem;
}

#footer_lastest-blog span {
  font-size: 18px;
  font-weight: 700;
}
#footer_lastest-blog p {
  padding-right: 20px;
}

#footer_photo-stream div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#footer_photo-stream {
  height: 100px;
}

#follow-us {
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 150px;
}

#follow-us h5 {
  padding-top: 40px;
  padding-bottom: 0px;
}

#link_follow-us {
  display: flex;
  gap: 20px;
}

#link_follow-us i {
  color: white;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  background-color: rgb(179, 179, 179);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

#link_follow-us i:hover {
  background-color: orangered;
  transition: 1s;
}
.window {
  width: 385px;
}

/* FOOTER-BOTTOM [BRUNO] */
#footer-bottom {
  background-color: rgb(227, 227, 227);
  display: flex;
  justify-content: center;
  align-items: end;
  height: 80px;
}

#footer-bottom p {
  color: rgb(51, 51, 51);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-block: 23px;
  padding-inline: 15px;
  text-align: center;
  font-size: 0.7rem;
}

#footer-bottom a {
  color: orangered;
}

/* animazioni slide in */

.animazioneIngresso {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.3s;
  transition-delay: 0.3s;
}

.animazioneIngressoX {
  opacity: 0;
  transform: translateX(-30px);
  transition: 0.3s;
  transition-delay: 0.3s;
}

.visibile {
  opacity: 1;
  transform: translate(0px);
}
@keyframes underline {
  0% {
    opacity: 0;
    width: 0;
  }
  25% {
    opacity: 0.5;
    width: 25%;
  }
  50% {
    opacity: 1;
    width: 50%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@media screen and (max-width: 1190px) {
  #nav {
    margin-inline: 5%;
  }
}

@media screen and (max-width: 990px) {
  .window {
    height: inherit;
  }
  #footer_photo-stream {
    height: inherit;
  }
  #footer {
    height: inherit;
  }
  #blog {
    height: inherit;
  }
  #blog button {
    margin-top: 30px;
    margin-inline: auto;
  }

  #blog_grid {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .about-us-container h2 {
    font-size: 1.3rem;
  }
  .about-us-container > h2 > span {
    font-size: 1.8rem;
  }
  #blog-ms h4 {
    font-size: 1.8rem;
  }
  #blog-ms span {
    font-size: 2rem;
  }
  #menu h2 {
    font-size: 1.8rem;
  }
  .subscribe-text h2 {
    font-size: 1.8rem;
  }
  #contacts h2 {
    font-size: 1.8rem;
  }
  #nav {
    margin-inline: 2%;
  }
  /* NAV MENU */
  nav#desktop-menu ul li {
    display: none;
  }
  nav#desktop-menu ul li:last-child {
    display: inline;
  }
  .fa-bars {
    display: inline;
  }
  /* SLIDER */
  #slider {
    max-width: 80%;
    width: 300px;
  }
  .box-image {
    max-width: 85vw;
    width: 300px;
    max-height: 85vw;
    height: 300px;
  }
  .box-image img {
    width: 100%;
  }
  #slider-box-container {
    gap: 8%;
  }
  #slider-dots {
    display: none;
  }
  /* ABOUT US */
  .about-us-img p {
    width: 90%;
  }
  /* BLOG */

  .visibile {
    display: flex;
    flex-direction: column;
  }
  .whiteSquare {
    display: none;
  }
  .blog-img {
    width: 100%;
  }
  #blog button {
    margin-left: 5%;
    width: 250px;
    display: flex;
    align-items: center;
  }
  /* MENU */
  #menu > .container-section > div > p {
    padding: 0;
  }
  .container-section {
    width: 90%;
  }
  #menu h3 {
    padding-bottom: 10px;
  }
  #menu p {
    padding-top: 10px;
  }
  .price {
    left: 0px;
    bottom: -44px;
    z-index: 10;
  }
  .border-bottom {
    border-bottom: 0px;
  }
  /* NEWSLETTER */
  #subscribe-form {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 0 auto;
    width: 95%;
  }

  #subscribe-form input {
    width: 90%;
  }

  /* CONTACT */

  #contacts form {
    align-items: center;
  }
  #contacts button {
    width: 100%;
  }
  /* FOOTER */
  #footer {
    flex-direction: column;
    margin-inline: 0;
  }
  #footer_contact-info {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #footer_contact-info h5 {
    display: block;
    width: 100%;
  }
}
